@font-face {
    font-family: 'CustomFont';
    src: url('../images/components/AvantGardeDemiBT.ttf');
}

.home {
    width: 100%;
    height: 100vh;
    background: url('../images/components/background.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.home-body {
    display: flex;
    align-items: center;
}

.manu-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 67px;
}

.manu-bar .bar {
    height: 100%;
}

.menu-icons {
    position: absolute;
    left: 0;
    top: 50%;
    width: 85%;
    transform: translate(0, -50%);
}

.icon {
    cursor: pointer;
    background-color: #FF5722;
    border-radius: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;
}

.icon img {
    width: 25px;
}

.icon-translate {
    transform: translateX(30px);
    transition: all .5s ease-in-out;
}

.home-body {
    height: 100vh;
}

.places-wrapper {
    background-color: white;
    padding: 20px 20px 20px 50px;
    border-right: solid #FF5722 30px ;
    border-radius: 0px 30px 30px 0px;
}

.places-wrapper h1 {
    display: inline-block;
}

.places-wrapper a {
    text-decoration: none;
    color: #000;
    width: 180px;
    background: url('../images/components/wayfinder-4-27.png') no-repeat center;
    background-size: contain;
    display: inline-block;
    
}

.person-wrapper {
    background-color: white;
    padding: 20px;
    border-right: solid #FF5722 30px ;
    border-radius: 0px 30px 30px 0px;
}

.person-wrapper a {
    font-family: 'CustomFont';
    text-decoration: none;
    /* font-size: 20px; */
}


p {
    margin-top: 0;
    margin-bottom: -5px;
}

.places-wrapper a .place img {
    width: 100px;
}

.logo {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;
}


.input-search {
    border-radius: 50px !important;
    padding-left: 70px !important;
    margin-top: -100px;
    height: 45px;
    font-size: 18px;
    border: 2px #28385E solid;
}
.search-logo {
    float: left;
    margin-top: -32px;
    margin-left: 20px;
    width: 18px;
}

.place-description {
    display: inline-block;
    background-color: #fff;
}

@media (max-width: 1919px) { 
    .icon img {
        width: 15px;
    }

    .icon {
        width: 40px;        
    }
    .logo img {
        width: 130px;
    }
    .home {
        overflow: scroll !important;
    }
 }


@media (max-width: 1200px) { 
    .icon img {
        width: 15px;
    }

    .icon {
        width: 40px;        
    }
 }

 @media (max-width: 768px) { 
    .icon img {
        width: 15px;
    }

    .icon {
        width: 40px;        
    }
    .logo img {
        width: 100px;
    }
    .places-wrapper {
        background-color: white;
        padding: 20px;
        border-radius: 0px 50px 50px 0px;
        margin-top: 50px;
    }
    .person-wrapper {
        background-color: white;
        padding: 20px;
        border-radius: 0px 50px 50px 0px;
        margin-top: 50px;
    }
 }